<h2>Dynamically Update QR Code Values</h2>
<div>QR Code: {{ qrCodeVal }}</div>
<div>Level: {{ level }}</div>
<div>Width: {{ width }}</div>
<div>first dose date: {{ firstdosedate }}</div>
<div>second dose date: {{ seconddosedate }}</div>
<div>Type: {{ vaccine }}</div>
<br />
<br />

<div>
  <qr-code [value]="qrCodeVal" [size]="width" [level]="level"></qr-code>
</div>

<h4>Change QR Code Info</h4>
<label>
  Update name string: <input [(ngModel)]="qrCodeVal" placeholder="name" />
</label>
<br />
<br />
<label>
  Update firstdosedate string: <input [(ngModel)]="firstdosedate" placeholder="firstdosedate" />
</label>
<br />
<br />
<label>
  Update seconddosedate string: <input [(ngModel)]="seconddosedate" placeholder="seconddosedate" />
</label>
<br />
<br />
<label>
  Update vaccine string: <input [(ngModel)]="vaccine" placeholder="vaccine" />
</label>
<br />
<br />
<div *ngFor="let item of lista | async">
<button (click)="updateQrInfo(item.name, item.firstdosedate, item.seconddosedate, item.vaccine)">Update to "{{item.name}}"</button>
</div>

<br />
<br />
<strong>Update Width</strong>:
<button (click)="updateWidth(500)">500</button>
<button (click)="updateWidth(400)">400</button>
<button (click)="updateWidth(300)">300</button>
<button (click)="updateWidth(200)">200</button>

<br />
<br />
<strong>Update Level</strong>:
<button (click)="updateLevel('L')">L</button>
<button (click)="updateLevel('M')">M</button>
<button (click)="updateLevel('Q')">Q</button>
<button (click)="updateLevel('H')">H</button>
